h1 {
  font-size: 80px;
  color: white;
  background-color: green;
  text-align: center;
  }
body {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/61Yg2CQLaIL._SL1500_.jpg");
  font-weight: bolder;
}
